[package]
name = "LightTimer"
version = "0.1.0"
edition = "2021"

[dependencies]
eframe = "0.27"

[build-dependencies]
winres = "0.1"

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
strip = true
panic = "abort"